body ,html {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    justify-content: center;
    align-items: center;
    display: flex;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.registro-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20dvw;
    padding-top: 20px;
    padding-bottom: 20px;
}

.registro-container form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
    margin-bottom: 20px;
}

.registro-container form input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.registro-container form button {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #018e1b;
    color: #fff;
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
}